<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\style.css">
    <script src="https://kit.fontawesome.com/8ebfbc89c9.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>detale de producto</title>
</head>
<body>
    <header> 
        <div class="pre-header">
            <div class="login">
                <ul>
                    <li><a href="\register.html">Creá tu cuenta  |</a></li>            
                    <li><a href="login.html">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>                                           
                </ul>
        </div>       
        <div class="header-cont">
                <div class="header-logo">
                    <img class="logo" src="images\alien.png" alt="logo">                
                </div>
                <div class="header-navbar">
                    <div class="nav">
                        <ul>
                            <li><a href="">Hombre</a></li>
                            <li><a href="">Mujer</a></li>
                            <li><a href="">Niño</a></li>
                            <li><a href="">Accesorios</a></li>
                        </ul>
                    </div>
                    <div class="header-right-cont">
                        <div class="header-search">
                            <form method="GET" action="/">
                                <div class="button">
                                <input type='text' placeholder="Buscar productos"> 
                                <button><i class="fas fa-search"></i></button>
                                </div> 
                             </form>                       
                        </div>
                        <div class="bolsa">
                            <i class="fas fa-shopping-bag"></i>
                        </div>
                    </div>
                </div>  
                          
            <div class="cont-burger-menu">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </div> 
        </div>
    </header>
    
    <main>
        <div class="fondo-juan">
        <div class="producto-juan">
            <div class="nombre-producto-juan">NIKE</div>
            <img src="images/zapatilla.jpg" alt="">
            <div class="texto-bajo-foto-juan"><p>foto del producto</p></div>
        </div>
        <div class="descripcion-producto-juan">
            
            <div class="nombre-juan">ZAPATILLAS NIKE </div>
            <div class="precio-juan">$12.449</div>
            <div class="cuotas-juan">6 cuotas sin interes de $2.075</div>
            <div class="mas-vendido-juan"><h3>Más vendido</h3></div>
            <div class="descripcion-juan"><p>Zapatillas Nike Air Zoom Pegasus 38</p></div>
            <div class="devolucion-juan"><i class="fas fa-undo-alt">Devolución sin costo</i></div>
            <div class="envio-juan"><i class="fas fa-truck">Envio gratis en el país</i> </div>
            <br>
            <div class="comprar-juan">COMPRAR</div>
           
        </div>
    </div>
    </main>
    <footer>
        <div class="footer-cont-main">
            <div class="footer-cont1">
                <p>TARJETAS DE REGALO</p>
                <p>BUSCAR TIENDA</p>
                <p>SUSCRIBIRSE</p>
                <p>SUGERENCIAS</p>
            </div>
    
            <div class="footer-cont2">
                <p>AYUDA</p>
                <p>Estado del pedido</p>
                <p>Envíos y entregas</p>
                <p>Devoluciones</p>
                <p>Opciones de Pago</p>
            </div>
    
            <div class="footer-cont3">
                <p>NOSOTROS</p>
                <p>Novedades</p>
                <p>Trabaja con nosotros</p>
                <p>Sustentabilidad </p>
                <p>Contacto</p>
            </div>
    
            <div class="footer-cont-social">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
            </div>
        </div>
    
    </footer>       
     
</body>
</html>
