<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" href='../styles/home.css'> 
</link>
    <title> 
        Pagina principal
    </title>
</head>
<body>
    <section class="hero">
        <img> </img>
        <div class="hero-content">
            <h3 class="hero-category">
                Categoria
            </h3>
            <h2 class="hero-title">
                Titulo de producto
            </h2>
            <p class="hero-description">
                Descripcion de producto
            </p>
            <button class="hero-button">
                Contacto
            </button>
        </div>
    </section>
    <section>
        
    </section>
    <section>
        
    </section>
</body>
</html>