<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css"  href='styles/home.css'/> 
    <title> 
        Pagina principal
    </title>
    
</head>
<body>
    <section class="hero">
        <div>
            <img class="imagenprincipal" src='images/video.jpg'> </img>
        </div>
        
        <div class="hero-content">
            <h3 class="hero-category">
                INVIERNO
            </h3>
            <h2 class="hero-title">
                Título de producto
            </h2>
            <p class="hero-description">
                Descripción de producto / Caracteristicas de la imagen
            </p>
            <button class="hero-button">
                Contacto
            </button>
        </div>
    </section>
    <section>
        
    </section>
    <section>
        
    </section>
</body>
</html>