<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="stylesheet" type="text/css"  href='styles/home.css'/> 
    <title> 
        Pagina principal
    </title>
</head>
<body>
    <section class="hero">
        <img class="imagenprincipal" src='https://essential.vteximg.com.br/arquivos/ids/348726-1000-1000/306-6897_1.jpg?v=637357005907600000'> </img>
        <div class="hero-content">
            <h3 class="hero-category">
                Categoria
            </h3>
            <h2 class="hero-title">
                Titulo de producto
            </h2>
            <p class="hero-description">
                Descripcion de producto
            </p>
            <button class="hero-button">
                Contacto
            </button>
        </div>
    </section>
    <section>
        
    </section>
    <section>
        
    </section>
</body>
</html>